{
    "MOS": "CCA",
    "cpt_args": {
        "cca_modes": [
            1,
            6
        ],
        "crossvalidation_window": 5,
        "drymask": false,
        "scree": true,
        "synchronous_predictors": true,
        "tailoring": "None",
        "transform_predictand": "Empirical",
        "validation": "crossvalidation",
        "x_eof_modes": [
            1,
            8
        ],
        "y_eof_modes": [
            1,
            6
        ]
    },
    "cptcore_version": "1.0.10",
    "cptdl_version": "1.0.5",
    "cptextras_version": "1.0.3",
    "cptio_version": "1.0.1",
    "download_args": {
        "fdate": "2023-02-01",
        "filetype": "cptv10.tsv",
        "final_year": 2020,
        "first_year": 1991,
        "lead_high": 3.5,
        "lead_low": 1.5,
        "predictand_extent": {
            "east": 43.6,
            "north": 12.8,
            "south": 10.9,
            "west": 41.6
        },
        "predictor_extent": {
            "east": 90,
            "north": 20,
            "south": -20,
            "west": 10
        },
        "target": "Mar-May"
    },
    "predictand": "UCSB.PRCP",
    "predictors": [
        "SPEAR.PRCP",
        "CCSM4.PRCP",
        "CanSIPSIC3.PRCP",
        "CFSv2.PRCP",
        "GEOSS2S.PRCP"
    ]
}